[Unit]
Description=Bitbucket server Connector Service
After=network.target

[Service]
Type=simple
User=roswell
ExecStart=/usr/bin/java -jar /opt/vmware/connectors/bitbucket-server/bitbucket-server-connector.jar --spring.config.additional-location=file:/opt/vmware/connectors/bitbucket-server/application.properties,file:/etc/opt/vmware/connectors/bitbucket-server/application.properties
Restart=on-abort

[Install]
WantedBy=multi-user.target
