[Unit]
Description=AirWatch Connector Service
After=network.target

[Service]
Type=simple
User=roswell
ExecStart=/usr/bin/java -jar /opt/vmware/connectors/airwatch-connector.jar --security.oauth2.resource.jwt.key-uri={TENANT_PUBLIC_KEY_URL} --spring.config.location=file:/etc/opt/vmware/connectors/managed-apps.yml --logging.config=/etc/opt/vmware/connectors/logback.xml
Restart=on-abort

[Install]
WantedBy=multi-user.target