<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright © 2020 VMware, Inc. All Rights Reserved.
SPDX-License-Identifier: BSD-2-Clause
-->
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
            <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
            </jsonFormatter>
            <appendLineSeparator>true</appendLineSeparator>
        </layout>
    </appender>

    <logger name="com.vmware.connectors" level="debug"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>