<div>
    <style type="text/css">
    <!--
    .rps_7cd1 a
        '{'
            color:#0072bc;
            text-decoration:none
        '}'
    -->
    </style>
    <div class="rps_7cd1">
        <div>
            <table border="0" cellspacing="0" cellpadding="8" dir="ltr" style="width:100%">
                <tbody>
                <tr>
                    <td align="left" valign="top">
                        <div style="font-family:'Segoe UI Semilight','Segoe UI',Verdana,sans-serif; color:#444444">
                            <div style="margin-bottom:21px; font-size:18px">Good news. {0} now has access to ''{1}''.</div>
                            <div style="font-size:14px">
                                <div style="margin-bottom:8px; font-size:28px; font-family:'Segoe UI Light','Segoe UI',Verdana,sans-serif; color:#444444">
                                    <a href="{2}" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable">Go to the item</a></div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>