[Unit]
Description=ServiceNow Connector Service
After=network.target

[Service]
Type=simple
User=roswell
ExecStart=/bin/bash /opt/vmware/connectors/servicenow/start.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
