[Unit]
Description=AwsCert Connector Service
After=network.target

[Service]
Type=simple
User=roswell
ExecStart=/bin/bash /opt/vmware/connectors/aws-cert/start.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
